<div class="brand">{{ site.title }}</div>
<div class="address-bar">{{ site.data.identity.tagline }}</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              {% for link in site.data.navigation %}
                {% if link.url contains 'http' %}
                  {% assign domain = '' %}
                {% else %}
                  {% assign domain = site.url %}
                {% endif %}
                {% if link.dropdown %}
                <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="{{ link.excerpt }}">
                    {{ link.title }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for child in link.children %}
                    <li>
                        <a href="{{ domain }}{{ child.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %} title="{{ child.excerpt }}">{{ child.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
                </li>
                {% else %}
                <li>
                  <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %} title="{{ link.excerpt }}">{{ link.title }}</a>
                </li>
                {% endif %}
              {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
